body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(6 6 55);
}

button {
    background-color: #3209ff;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    font-size: larger;
    margin: .5em 0 0em 0;
    padding: 15px 30px; 
    box-sizing: border-box;
    transition: border 0.3s ease;
}

button:hover {
    border: 3px solid rgb(32, 158, 0);
}

#divContainer{
    display: inline-block;
    flex-wrap: wrap;
    border: 2px solid #bcafff;
    margin: 1em auto;
}

.divRows{
    display: flex;
    flex-wrap: nowrap;
}

.divItems {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border: 1px solid black;
    box-sizing: border-box;
}



/*By Mauricio Lugo*/